/* CONTACT FORM STYLE CSS ...  */
.contact-section .google-map {
  border-radius: 10px;
}
.contact-form input {
  outline: none;
  border: 1px solid #fa5624;
}
.contact-form textarea {
  outline: none;
  border: 1px solid #fa5624;
}
.contact-btn button {
  background-color: #fa5624;
  color: #fff;
  display: inline-block;
  padding: 13px 39px;
  font-size: 16px;
  font-weight: 500;
  border: 0;
  border-radius: 5px;
  text-align: center;
  text-transform: capitalize;
  transition: 0.3s;
  cursor: pointer;
}
.contact-section .contact-form {
  width: 100%;
}
.form-group {
  margin-bottom: 1 rem;
}
