/* REGISTRATION STYLE CSS ...  */
.register-form-container {
  /* margin-top: 60px; */
  /* background-color: #0072ff; */
}
.form {
  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  padding: 30px; */
  border-radius: 10px;
}
.register-form {
  background-image: radial-gradient(
    circle 976px at 51.2% 51%,
    rgba(11, 27, 103, 1) 0%,
    rgba(16, 66, 157, 1) 0%,
    rgba(11, 27, 103, 1) 17.3%,
    rgba(11, 27, 103, 1) 58.8%,
    rgba(11, 27, 103, 1) 71.4%,
    rgba(16, 66, 157, 1) 100.2%,
    rgba(187, 187, 187, 1) 100.2%
  );
  /* border: 2px solid #fff; */
  border-radius: 10px;
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
Button.register-btn {
  background-image: linear-gradient(
    to right,
    #00c6ff 0%,
    #0072ff 51%,
    #00c6ff 100%
  );
  margin-left: 140px;
  padding: 10px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  outline: none;
  border: none;
  /* display: block; */
}
Button.register-btn:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}
